*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: thistle;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    gap: 40px;
    list-style: none;
}
.hero{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
    margin-top: 3opx;
}
 ch1{
    line-height: 30px;
}
.ch1 h1{
    font-size: 30px;
}
.ch1 button{
    padding: 6px 20px;
}